{% extends "base.html.twig" %}

{% block topo %}
    <div class="topo">
        <img src="{{ asset('img/logo.png') }}"  class="logo" alt="logo"/>
    </div>
{% endblock topo %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
{% endblock stylesheets %}

{% block title %}
    Cadastro de Usuários
{% endblock title %}

{% block body %}
    <p class="msgErro">Oops! Falha ao cadastrar o usuário: <strong>{{ Fulano }}</strong></p>
    <a href="{{ url('web_usuario_index') }}">Voltar</a>
{% endblock body %}
